body {
  background-color: rgba(2, 0, 0, 0.164);
}

header {
  background-color: aliceblue;
  padding: 0.5em;
  text-align: center;
}

.container {
  display: flex;
}

form {
  background-color: green;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  padding: 3em 2em;
  width: 50vw;
}

.card-area {
  background-color: rgb(10, 10, 10);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 3em 2em;
  width: 50vw;
}

